{% extends 'layout.html.twig' %}

{# Block de title défini dans base.html.twig #}

    {% block title %} {{service.titreService | capitalize}} {% endblock %}
{#{% set active = service.nomCategorieService | capitalize %}#}

{# Block de Contenu défini dans base.html.twig #}
    {% block contenu %}
    {% if global.request.get('note') == 'success' %}
                         <div class="alert alert-success">
                            <p class="text-center"><i class="fa fa-thumbs-up"></i>Félications !. </p>
                            <p class="text-center"> Votre avis concernant le service de l'utilisateur a bien été pris en compte !</p>
                        </div>
    {% endif %}
    {% if global.request.get('note') == 'error' %}
                         <div class="alert alert-danger">
                            <p class="text-center"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
Erreur lors de la publication de votre commentaire </p>
                            <p class="text-center"> Vous devez être inscrit et connecté, Avoir rempli au moins l'un des deux champs et avoir attendu 24 heures pour valider un deuxieme commentaire!</p>
                        </div>
    {% endif %}
        <div class="row">
            <!--colleft-->
            <div class="col-md-8 col-sm-12">
                <!--post-detail-->
                <service class="post-detail">
                {% if service.validationService == 1 and service.ouvert == 1 or is_granted('ROLE_ADMIN') %}
                    <h1>{{ service.titreService }}<h1></h1> {% if is_granted('ROLE_USER') %} <h4><i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                    <a href="{{ url('membre_signalement_annonce',{idService : service.idService}) }}">Signaler l'annonce</a> {% endif %}</h4>
                    
                        {% if totalNote < 1 %}
                    	{% else %}
                    	{% for nombreStars in 1.. nombreStars %}
                        <i class="fa fa-star" aria-hidden="true" style="color:#ffd700"></i> 
                        {% endfor %}
                        
                    	{% if halfstar is not empty %} 
                    		<i class="fa fa-star-half" aria-hidden="true" style="color:#ffd700"></i>
                    	{% endif %}
                    	
                    	/ 5 sur une base de {{ totalNote }} note(s)</big>
                    	{% endif %}
                    
                   
                    <div class="meta-post">
                        <a href="{{ url('index_profil', {idUser : service.idUserProposantService}) }}">
                            {{ service.pseudo }}
                        </a>
                        <em></em>
                        <span>
                                {{ service.datePublicationService |date("d/m/Y") }}
                            </span>
                    </div>

                  {#  <img alt="" src="{{ asset('images/product/'~service.FEATUREDIMAGEservice) }}" class="img-responsive" /> #}

                    {{ service.descriptionService|raw }}

                    
                    
                    
                    
            
             
                </service>
                <h3>Localisation  : {{ service.commune }} </h3>
                
               <div id="map"></div>
       			 <h3>Commentaires</h3>
                    {% for commentaire in commentairesService %}
                    
                    <br />
                    Commentaire de <a href="{{ url('index_profil', {idUser : service.idUserProposantService}) }}">{{commentaire.pseudo}}</a> note de {{ commentaire.note }} <i class="fa fa-star" aria-hidden="true" style="color:#ffd700"></i>   le {{ commentaire.dateCommentaire | date("d/m/Y") }} : {{ commentaire.commentaires | decode }}
                    
                    {% endfor %} 
               {% if is_granted('ROLE_USER') %}
                     <div class="container">
                        <div class="starter-template">
                        <form class="form-horizontal" method="POST" enctype="multipart/form-data" >
                    	<div class="form-group">
                        	<label for="" class="col-md-3 control-label">
            					Note : 
            				</label>
                				<div class="col-md-7">
                            	{{ form_row(form.note) }}
                            	</div>
                    	</div>
                    	<div class="form-group">
                        	<label for="" class="col-md-3 control-label">
            					Commentaires : 
            				</label>
                				<div class="col-md-7">
                            	{{ form_row(form.commentaires) }}
                            	</div>
                    	</div>
                    	{{ form_row(form._token) }}
        				<div class="form-group">
            				<label for="" class="col-md-3 control-label">
            					
            				</label>
            					<div class="col-md-7">
            					<input type="submit" class="btn btn-primary" value="Noter" />
            					</div>
            				</div>
        				</form>	
                  
                    </div>
                  </div> 	
               {% endif %} 
                       
               
                <!--social-detail-->
                <div class="social-detail">
                    <span>Partager notre service</span>

                    <ul class="list-social-icon">
                        <li>
                            <a href="#" class="facebook">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="twitter">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="google">
                                <i class="fa fa-google"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="youtube">
                                <i class="fa fa-youtube-play"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="pinterest">
                                <i class="fa fa-pinterest-p"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="rss">
                                <i class="fa fa-rss"></i>
                            </a>
                        </li>

                    </ul>
                </div>
				{% else %}
				<div class="alert alert-danger">L'annonce n'a pas été encore publiée ou a été refusée.</div>
				{% endif %}
                <!--related post-->
                <div class="detail-caption">
                    <span>  DANS LA MEME CATEGORIE</span>
                </div>
                <section class="spotlight-thumbs spotlight-thumbs-related">
                    <div class="row">

                        {% for service in suggestions %}
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="spotlight-item-thumb">
                                    <div class="spotlight-item-thumb-img">
                                        <a href="{{ url('index_annonce', {
                                            nomCategorieService: service.nomCategorieService | lower,
                                            slugService : service.titreService | slug,
                                            idService : service.idService }) }}">
                                            <img alt="{{ service.titreService }}" src="{{ asset('img'~service.photo) }}">
                                        </a>
                                        <a href="{{ url('index_categorie', {
                                            nomCategorieService : service.nomCategorieService | lower} ) }}" class="cate-tag">{{ service.nomCategorieService }}</a>
                                    </div>
                                    <h3><a href="{{ url('index_annonce', {
                                            nomCategorieService : service.nomCategorieService | lower,
                                            slugService : service.titreService | slug,
                                            idService : service.idService }) }}">{{ service.titreService }}</a></h3>
                                    <div class="meta-post">
                                        <a href="{{ url('index_profil', {idUser : service.idUserProposantService}) }}">
                                            {{ service.pseudo }}
                                        </a>
                                        <em></em>
                                        <span>
                                            {{ service.datePublicationService|date("d/m/Y") }}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </section>
            </div>

          {#  {{ render(controller('App\\Controller\\IndexController::sidebar')) }}#}

        </div>
{% endblock %}        
{% block javascripts %}
{# Pour afficher le contenu intial du block javascripts sinon remplace par les nouveaux élements. Pour eviter ça il faut utiliser la fonction parent() #}
{{ parent() }}
	<script>
	      function initMap() {
	        var lieuAnnonce = {lat: {{ latitude }}, lng: {{ longitude }}};
	        var map = new google.maps.Map(document.getElementById('map'), {
	          zoom: 10,
	          center: lieuAnnonce
	        });
	        var marker = new google.maps.Marker({
	          position: lieuAnnonce,
	          map: map
	        });
	      }
	    </script>
			

		<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOkS2l5PbE8xo6Vhq24PlimyUg36gLoRE&callback=initMap">
		</script>
{% endblock %}
 		
