{% extends 'layout.html.twig' %}

{# Block de title défini dans base.html.twig #}

    {% block title %} {{service.titreService | capitalize}} {% endblock %}
{#{% set active = service.nomCategorieService | capitalize %}#}

{# Block de Contenu défini dans base.html.twig #}

    {% block contenu %}
        <div class="row">
            <!--colleft-->
            <div class="col-md-8 col-sm-12">
                <!--post-detail-->
                <service class="post-detail">
                    <h1>{{ service.titreService }}</h1>
                    <div class="meta-post">
                        <a href="#">
                            {{ service.pseudo }}
                        </a>
                        <em></em>
                        <span>
                                {{ service.datePublicationService }}
                            </span>
                    </div>

                  {#  <img alt="" src="{{ asset('images/product/'~service.FEATUREDIMAGEservice) }}" class="img-responsive" /> #}

                    {{ service.descriptionService | raw }}

                    <h5 class="text-right font-heading"><strong>{{ service.pseudo }}</strong> </h5>

                </service>
                <!--social-detail-->
                <div class="social-detail">
                    <span>Partager notre service</span>

                    <ul class="list-social-icon">
                        <li>
                            <a href="#" class="facebook">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="twitter">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="google">
                                <i class="fa fa-google"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="youtube">
                                <i class="fa fa-youtube-play"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="pinterest">
                                <i class="fa fa-pinterest-p"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="rss">
                                <i class="fa fa-rss"></i>
                            </a>
                        </li>

                    </ul>
                </div>

                <!--related post-->
                <div class="detail-caption">
                    <span>  DANS LA MEME CATEGORIE</span>
                </div>
                <section class="spotlight-thumbs spotlight-thumbs-related">
                    <div class="row">

                        {% for service in suggestions %}
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="spotlight-item-thumb">
                                    <div class="spotlight-item-thumb-img">
                                        <a href="{{ url('index_annonce', {
                                            nomCategorieService: service.nomCategorieService | lower,
                                            slugService : service.titreService | slug,
                                            idService : service.idService }) }}">
                                            <img alt="{{ service.titreService }}" src="{{ asset('img'~service.photo) }}">
                                        </a>
                                        <a href="{{ url('index_categorie', {
                                            nomCategorieService : service.nomCategorieService | lower} ) }}" class="cate-tag">{{ service.nomCategorieService }}</a>
                                    </div>
                                    <h3><a href="{{ url('index_annonce', {
                                            nomCategorieService : service.nomCategorieService | lower,
                                            slugService : service.titreService | slug,
                                            idService : service.idService }) }}">{{ service.titreService }}</a></h3>
                                    <div class="meta-post">
                                        <a href="#">
                                            {{ service.pseudo }}
                                        </a>
                                        <em></em>
                                        <span>
                                            {{ service.datePublicationService }}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </section>
            </div>

          {#  {{ render(controller('App\\Controller\\IndexController::sidebar')) }}#}

        </div>

    {% endblock %}