{% extends "layout.html.twig" %}

{# Titre de la Page #}
{% block title %} Accueil | You2u {% endblock %}

{# Fil d'Ariane #}
{% set active = 'accueil' %}

{# Contenu de la Page #}
{% block contenu %}

   {% if is_granted('ROLE_ADMIN') %}

    {% for signalement in signalements %}

        <li class="signalement" {{ signalement.idUserSignale }} </li>
        {{ signalement.idServiceSignale }}
        {{ signalement.idUserAlertant }}
        {{ signalement.dateAlerte }}
        {{ signalement.message }}


    {% endfor %}

       {% endif %}

{% endblock %}