{% extends 'layout.html.twig' %}

{# Block de title défini dans base.html.twig #}
{% block title %} Espace Admin {% endblock %}
{# Block de Contenu défini dans base.html.twig #}
{% block contenu %}
        
   
            	{% if is_granted('ROLE_ADMIN') %}
                     <div class="container">
                        <div class="starter-template">
                        	<h1>Bienvenue {{ app.user.pseudo }} sur votre espace Admin</h1>
                        	
                        	
                        	<h4>Gestion des utilisateurs et des roles </h4>
                        	<a href="{{ url('admin_gestion_utilisateurs') }}"> Accéder à la liste des utilisateurs </a>
                        	<h4>Signalements d'utilisateurs 
                        	
                        	{% if nombreUserSignaleATraiter is not empty %}
                        	(<a href="{{ url('admin_traitementSignalementUser') }}"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                        	{{ nombreUserSignaleATraiter }} à traiter</a>)
                        	{% endif  %}
                        	
                        	</h4>
                        	
                        	
                        	<h4>Signalements de services 
                        	{% if nombreUserSignaleATraiter is not empty %}
                        	(<a href="{{ url('admin_traitementSignalementService') }}"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>{{ serviceSignaleATraiter }} à traiter</a>)
                        	</h4>
                        	{% endif  %}
                        	
                        	
                        	<h4>
                        	Annonces à valider 
                        	{% if serviceAValider is not empty %}
                        	<a href="{{ url('admin_serviceavalider') }}">(<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>{{ serviceAValider }} à traiter</a>)
                        	{% endif  %}
                        	</h4>


                    
                {% else %}
                <div class="alert alert-danger"><i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                Vous devez être adminaccéder à cet espace <br />
                </div>
                {% endif %}
          </div>
            	
            
        </div>
        <!-- /.container -->
    
{% endblock %}

{% block javascripts %}
{% endblock %}