{% extends "layout.html.twig" %}
{# Block de title défini dans base.html.twig #}
{% block title %} Accueil {% endblock %}
{% block stylesheets %} 
{{ parent() }}
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
{% endblock %}


{# Fil d'Ariane #}
{% set active = 'accueil' %}

{# Contenu de la Page #}
{% block contenu %}


    <div class="row">
        <!--colleft-->
        <div class="col-md-8 col-sm-12">
            <div class="box-caption">
        <div class="container">
            <div class="starter-template">
            {% if global.request.get('inscription') == 'success' %}
            {% endif %}
                <h1>{{ message }}</h1>
                <p class="lead">Use this document as a way to quickly start any new project.</p>
            </div>
            <!--spotlight-->
            <section class="owl-carousel owl-spotlight">
                {% for service in spotlight %}
                    <div>
                        <service class="spotlight-item">
                            <div class="spotlight-img">
                                <img alt="" src="{{ asset('img/'~service.photo) }}" class="img-responsive"/>
                                <a href="{{ url('index_categorie', {
                                        nomCategorieService : service.nomCategorieService | lower} ) }}" class="cate-tag">{{ service.nomCategorieService }}</a>
                            </div>
                            <div class="spotlight-item-caption">
                                <h2 class="font-heading">
                                    <a href="{{ url('index_annonce', {
                                        nomCategorieService : service.nomCategorieService | lower,
                                        slugService         : service.titreService | slug,
                                        idService         : service.idService }) }}">
                                        {{ service.titreService }}
                                    </a>
                                </h2>
                                <div class="meta-post">
                                    <a href="#">
                                        {{ service.pseudo }}
                                    </a>
                                    <em></em>
                                    <span>
                                    {{ service.datePublicationService }}
                                </span>
                                </div>

                                {# {# service.CONTENUservice | striptags | slice(0, 170)~'...' #}{#
                                {{ service.descriptionService | accroche }}#}

                            </div>
                        </service>
                    </div>
                {% endfor %}
            </section>

            <!--spotlight-thumbs-->
            <section class="spotlight-thumbs">
                <div class="row">
                    {% for service in services %}
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="spotlight-item-thumb">
                                <div class="spotlight-item-thumb-img">
                                    <a href="{{ url('index_annonce', {
                                        nomCategorieService : service.nomCategorieService | lower,
                                        slugService         : service.titreService | slug,
                                        idService         : service.idService }) }}">
                                        <img alt="{{ service.titreService }}" src="{{ asset('img'~service.photo) }}"
                                             class="img-responsive"/>
                                    </a>
                                    <a href="{{ url('index_categorie', {
                                        nomCategorieService : service.nomCategorieService | lower} ) }}" class="cate-tag">{{ service.nomCategorieService }}</a>
                                </div>
                                <h3><a href="{{ url('index_annonce', {
                                        nomCategorieService : service.nomCategorieService | lower,
                                        slugService         : service.titreService | slug,
                                        idService         : service.idService }) }}">{{ service.titreService }}</a></h3>
                                <div class="meta-post">
                                    <a href="#">
                                        {{ service.pseudo }}
                                    </a>
                                    <em></em>
                                    <span>
                                    {{ service.datePublicationService }}
                                </span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </section>
        </div>
    </div>


    {# include 'inc/sidebar.html' #}
    {#    {{ render(controller('TechNews\\Controller\\NewsController::sidebar')) }}#}


        </div><!-- /.container -->
    
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#d5a369"
    },
    "button": {
      "background": "#f8d044"
    }
  },
  "position": "top",
  "static": true,
  "content": {
    "message": "En poursuivant votre navigation sur ce site, vous acceptez l’utilisation de cookies ou autres traceurs pour vous proposer des annonces ciblées adaptées à vos centres d’intérêts et réaliser des statistiques de visites.",
    "dismiss": "J'ai compris",
    "link": "Plus d'infos",
    "href": "https://www.cnil.fr/fr/cookies-traceurs-que-dit-la-loi"
  }
})});
</script>
>>>>>>> Validation_CNIL
{% endblock %}