{% extends "layout.html.twig" %}
{# Block de title défini dans base.html.twig #}
{% block title %} Accueil {% endblock %}
{% block stylesheets %} 
{{ parent() }}
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
{% endblock %}


{# Fil d'Ariane #}
{% set active = 'accueil' %}

{# Contenu de la Page #}
{% block contenu %}
    <div class="row">
        <!--colleft-->
        <div class="col-md-8 col-sm-12">
            <div class="box-caption">

        <div class="container">
            <div class="starter-template">

            {% if global.request.get('inscription') == 'success' %}
            {% endif %}
              
               

                <h1>You2u</h1>
                

                
                <p class="lead">Use this document as a way to quickly start any new project.</p>

            </div>
            <!--spotlight-->
            <!--spotlight-thumbs-->
            <section class="spotlight-thumbs">
                <div class="row">
                    {% for service in services %}
                        <div class="col-md-4 col-sm-4 col-xs-12 border">
                            <div class="spotlight-item-thumb">
                                <div class="spotlight-item-thumb-img">
                               
                                    <a href="{{ url('index_annonce', {
                                        nomCategorieService : service.nomCategorieService | lower,
                                        slugService         : service.titreService | slug ,
                                        idService         : service.idService }) }}">
                                        {# <img alt="{{ service.titreService }}" src="{{ asset('img/img_user'~service.photo) }}"
                                             class="img-responsive"/>#}
                                    </a>
                                    <h5><a href="{{ url('index_categorie', {
                                        nomCategorieService : service.nomCategorieService | lower} ) }}" class="cate-tag">Catégorie : {{ service.nomCategorieService }}</a></h5>
                                </div>
                                <h3><a href="{{ url('index_annonce', {
                                        nomCategorieService : service.nomCategorieService | lower,
                                        slugService         : service.titreService | slug ,
                                        idService         : service.idService }) }}">{{ service.titreService }}</a></h3>
                                <div class="meta-post">
                                    <a href="{{ url('index_profil', {idUser : service.idUserProposantService}) }}">
                                        {{ service.pseudo }}
                                        <img src="{{ asset('img/img_user/'~service.photo) }}" alt="{{ service.pseudo }}" />
                                    </a>
                                    <em></em>
                                    <span>
                                    {{ service.datePublicationService|date("d/m/Y")  }}
                                </span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </section>
        </div>
    </div>


    {# include 'inc/sidebar.html' #}
    {#    {{ render(controller('TechNews\\Controller\\NewsController::sidebar')) }}#}


        </div><!-- /.container -->
    
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#d5a369"
    },
    "button": {
      "background": "#f8d044"
    }
  },
  "position": "top",
  "static": true,
  "content": {
    "message": "En poursuivant votre navigation sur ce site, vous acceptez l’utilisation de cookies ou autres traceurs pour vous proposer des annonces ciblées adaptées à vos centres d’intérêts et réaliser des statistiques de visites.",
    "dismiss": "J'ai compris",
    "link": "Plus d'infos",
    "href": "https://www.cnil.fr/fr/cookies-traceurs-que-dit-la-loi"
  }
})});
</script>
{% endblock %}