{% extends "layout.html.twig" %}
{# Block de title défini dans base.html.twig #}
{% block title %} Accueil {% endblock %}
{% block stylesheets %} 
{{ parent() }}
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
{% endblock %}

{# Fil d'Ariane #}
{% set active = 'accueil' %}

{# Contenu de la Page #}
{% block contenu %}

    <!-- Header image-->
    <div class="container-fluid">

      <!-- Barre de recherche: service-->
      <div class="row">
        <div class="col-md-1 logo">
          <img src="{{ asset('themes/you2u/img/logo.svg') }}">
        </div>

      <!-- Debut Image-->
      <div container-fluid>
        <div class="row">
          <div class="col-md-8 photo">
            <img class="img-responsive" src="{{ asset('themes/you2u/img/accueil1.jpg') }}" srcset="{{ asset('themes/you2u/img/accueil1.jpg') }}">
          </div>
          <!-- Fin Image-->

           {% include('sidebar.html.twig') %}

          <!-- Debut de la section fonctionnement -->
          <section class="container">

             <div class="row">
                <div class="col-xs-12 text-center">
                  <h1 class="trtFonc">FONCTIONNEMENT</h1>
                  <p class="txtExplication">
                    You2u est une plateforme collaborative transgenerationelle de partage de services et compétences.</br>
                    L'inscription est gratuite et tous les seniors connectés sont encouragés à eux aussi profiter et contribuer à cette entraide.
                  <p/>
                </div>
              </div>

              <div class="row mt-80">
                <div class="col-sm-6">
                  <img class="img-responsive img-you2" src="{{ asset('themes/you2u/img/connectezvous1.jpg') }}">
                </div>
                <div class="col-sm-6">
                    <p style="
                        font-size: 30px;
                        margin-top: 190px;
                    "> Inscrivez-vous <br>
                      Deposez ou bénéficiez d'un service<br>
                      Participez à l'entraide You2u <br>
                    </p>
                </div>
              </div>

          <!-- debut de la section experience-carousel -->
</section>
        <div class="container-full expfull">
            <div class="container">
          <div class="row experience">
            <div class="col-xs-12">

                  <h1 class="trtFonc text-center mb-20">LES DERNI&Egrave;RES ANNONCES</h1>

                    {% for service in services %}

                        <div class="col-md-4 col-sm-4 col-xs-12 border">
                            <div class="spotlight-item-thumb">
                                <div class="spotlight-item-thumb-img">

                                    <a href="{{ url('index_annonce', {
                                        nomCategorieService : service.nomCategorieService | lower,
                                        slugService         : service.titreService | slug ,
                                        idService         : service.idService }) }}">
                                        {# <img alt="{{ service.titreService }}" src="{{ asset('img/img_user'~service.photo) }}"
                                             class="img-responsive"/>#}
                                    </a>
                                    <h5><a href="{{ url('index_categorie', {
                                        nomCategorieService : service.nomCategorieService | lower} ) }}" class="cate-tag">Catégorie : {{ service.nomCategorieService }}</a></h5>
                                </div>
                                <h3><a href="{{ url('index_annonce', {
                                        nomCategorieService : service.nomCategorieService | lower,
                                        slugService         : service.titreService | slug ,
                                        idService         : service.idService }) }}">{{ service.titreService }}</a></h3>
                                <div class="meta-post">
                                    <a href="{{ url('index_profil', {idUser : service.idUserProposantService}) }}">
                                        {{ service.pseudo }}
                                        <img src="{{ asset('img/img_user/'~service.photo) }}" alt="{{ service.pseudo }}" />
                                    </a>
                                    <em></em>
                                    <span>
                                    {{ service.datePublicationService|date("d/m/Y")  }}
                                </span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

            </div>
          </div>
        </div>
      </div>
         <!-- fin de la section experience -carousel -->

          </section>
          <!-- fin de la section fonctionnement -->

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#d5a369"
    },
    "button": {
      "background": "#f8d044"
    }
  },
  "position": "top",
  "static": true,
  "content": {
    "message": "En poursuivant votre navigation sur ce site, vous acceptez l’utilisation de cookies ou autres traceurs pour vous proposer des annonces ciblées adaptées à vos centres d’intérêts et réaliser des statistiques de visites.",
    "dismiss": "J'ai compris",
    "link": "Plus d'infos",
    "href": "https://www.cnil.fr/fr/cookies-traceurs-que-dit-la-loi"
  }
})});
</script>
{% endblock %}