{% extends 'layout.html.twig' %}

{# Block de title défini dans base.html.twig #}
{% block title %} Espace Membre {% endblock %}

{% block stylesheets %}

   {{ parent() }}

   <link href="{{ asset('css/typeahead.css') }}" rel="stylesheet" />

{% endblock %}
{# Block de Contenu défini dans base.html.twig #}
{% block contenu %}
        
   
            	{% if is_granted('IS_AUTHENTICATED_FULLY') %}
                     <div class="container">
                        <div class="starter-template">
                        	<h1>Modification du profil de {{ app.user.prenom }} {{ app.user.nom }}</h1>
                    	{% if success is defined %}
                    	{{ success }}
                    	{% endif %}
                    	<form class="form-horizontal" method="POST" enctype="multipart/form-data" >
                    	<div class="form-group">
                        	<label for="" class="col-md-3 control-label">
            					Nom Public : 
            				</label>
                				<div class="col-md-7">
                            	{{ form_row(form.pseudo) }}
                            	</div>
                    	</div>
                    	<div class="form-group">
                        	<label for="" class="col-md-3 control-label">
            					Prenom : 
            				</label>
                				<div class="col-md-7">
                            	{{ form_row(form.prenom) }}
                            	</div>
                    	</div>
                    	<div class="form-group">
                        	<label for="" class="col-md-3 control-label">
            					Nom : 
            				</label>
                				<div class="col-md-7">
                            	{{ form_row(form.nom) }}
                            	</div>
                    	</div>
                    	<div class="form-group">
                        	<label for="" class="col-md-3 control-label">
            					Email (deconnexion automatiquement si changement de mail) : 
            				</label>
                				<div class="col-md-7">
                            	{{ form_row(form.email) }}
                            	</div>
                    	</div>
                    	<div class="form-group">
                        	<label for="" class="col-md-3 control-label">
            					Description : 
            				</label>
                				<div class="col-md-7">
                            	{{ form_row(form.descriptionUser) }}
                            	</div>
                    	</div>
                    	<div class="form-group">
                        	<label for="" class="col-md-3 control-label">
            					Adresse : 
            				</label>
                				<div class="col-md-7">
                            	{{ form_row(form.adresse) }}
                            	</div>
                    	</div>
                    	<div class="form-group" id="the-basics" align="left">
                        	<label for="" class="col-md-3 control-label">
            					Ville  : 
            				</label>
                				<div class="col-md-7">
                            	{{ form_row(form.ville) }}
                            	</div>
                    	</div>
                    	<div class="form-group">
                        	<label for="" class="col-md-3 control-label">
            					Telephone Fixe : 
            				</label>
                				<div class="col-md-7">
                            	{{ form_row(form.telFixe) }}
                            	</div>
                    	</div>
                    	<div class="form-group">
                        	<label for="" class="col-md-3 control-label">
            					Telephone Mobile : 
            				</label>
                				<div class="col-md-7">
                            	{{ form_row(form.telMobile) }}
                            	</div>
                    	</div>
                    	<div class="form-group">
        				<label for="" class="col-md-3 control-label">
        					Photo
        				</label>
        				<div class="col-md-7">
        					{{ form_row(form.photo) }}
        				</div>
        			</div>
        			<div class="form-group">
        				<div class="col-md-7">
        					{{ form_row(form.profilVisible) }}
        				</div>
        			</div>
        			{{ form_row(form._token) }}
        			<div class="form-group">
        				<label for="" class="col-md-3 control-label">
        					
        				</label>
        				<div class="col-md-7">
        					<input type="submit" class="btn btn-primary" value="Mettre à jour" />
        				</div>
        			</div>
        			</form>	
                   </div>
                 </div>  
                  <div class="container">
                {% else %}
                <div class="alert alert-danger"><i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                Vous devez être inscrit-e et/ou connecté-e pour accéder à cet espace <br />
                <b>Connexion</b> - <b>Inscription</b>
                </div>
                {% endif %}
          </div>
            	
            
        </div>
        <!-- /.container -->
    
{% endblock %}
{% block javascripts %}
{# Pour afficher le contenu intial du block javascripts sinon remplace par les nouveaux élements. Pour eviter ça il faut utiliser la fonction parent() #}
{{ parent() }}
<script src="//cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/js/dropify.min.js"></script>
<script>
$('.dropify').dropify({
	messages: {
    default: 'Glissez-déposez un fichier ici ou cliquez',
    replace: 'Glissez-déposez un fichier ou cliquez pour remplacer',
    remove:  'Supprimer',
    error:   'Désolé, le fichier trop volumineux'
}
});
</script>
   <!--Script pour l'auto-complétion -->
   
 {{ parent() }}
<script src="{{ asset('js/typeahead.js') }}"></script>
   <script>

       $(document).ready(function() {

           var ListeDeVilles = [];

           

           // Requête Ajax pour traiter les données JSON (liste des villes du Rhone)
           $.ajax({
               // API data open sources :
               url: 'https://public.opendatasoft.com/api/records/1.0/search/?dataset=correspondance-code-insee-code-postal&facet=insee_com&facet=nom_dept&facet=nom_region&facet=statut&refine.nom_dept=RHONE&rows=-1',
               global: false,
               type: "GET",
               dataType: "json",
               success: function(data) {

               // console.log permettant de voir toutes les données récupérées dans le tableau JSON :
               console.log(data);

               // Création d'une variable comprenant le nombre total d'entrées dans le tableau JSON :
               nhits = data.records.length;

               /*console.log(value.fields['nom_comm']);
               ListeDeVilles.push(value.fields['nom_comm']);*/

               // Boucle pour afficher toutes les données du tableau :
               for(let i = 0 ; i < nhits ; i++) {

                   //console.log(data.records[i].fields.nom_comm);

                   // Instertion des données dans la variable ListeDeVille :
                   ListeDeVilles.push(data.records[i].fields.nom_comm);
                   //ListeDeVilles.push(data.records[i].fields.postal_code);

               }

                   // Insertion des données de la variable ListeDeVille dans l'input de recherche :
                   $('input.typeahead').typeahead({
                       local : ListeDeVilles
                   }).blur(validateSelection);
               }
           });

            function validateSelection() {
        	    if ($.inArray($(this).val(), ListeDeVilles) === -1)
            	{
        	    	$( "#the-basics" ).addClass('has-error');
        	    	$("input[type=submit]").prop('disabled', true);
            	}	
        	    else
            	{
        	    	$( "#the-basics" ).removeClass('has-error');
        	    	$("input[type=submit]").prop('disabled', false); 
            	}		
        	}  
           

        

       });

       

     

   </script>
{% endblock %}