{% extends 'layout.html.twig' %}

{# Block de title défini dans base.html.twig #}
{% block title %} Espace Membre {% endblock %}

{# Block de Contenu défini dans base.html.twig #}
{% block contenu %}
        
        <div class="container">
            <div class="starter-template">
            	<h1>Bienvenue {{ membre.prenom }} {{ membre.nom }}</h1>
            	 <div class="form-group">
                        <div class="col-md-5 col-md-push-3">
                            <a href="{{ url('membre_modif') }}" style="font-size:12px;"><u> Modifier le profil </u></a>
                            -
                            <a href="{{ url('membre_motdepasse')}}" style="font-size:12px;"><u> Changer le mot de passe </u></a>
                        </div>
                    </div>
            	<table align="center" class="table table-condensed">
            	<tr>
            		<td>Nom public : </td><td>{{ membre.pseudo }}</td>
            	</tr>
            	<tr>
            		<td>Email : </td><td>{{ membre.email }}</td>
            	</tr>
            	<tr>
            		<td>Adresse : </td><td>{{ membre.adresse }}</td>
            	</tr>
            	<tr>
            		<td>Code Postal : </td><td>{{ membre.codePostal }}</td>
            	</tr>
            	<tr>
            		<td>Ville : </td><td>{{ membre.ville }}</td>
            	</tr>
            	<tr>
            		<td>Téléphone (mobile) : </td><td>{{ membre.telMobile }}</td>
            	</tr>
            	<tr>
            		<td>Téléphone (fixe) : </td><td>{{ membre.telFixe }}</td>
            	</tr>
            	<tr>
            		<td>Photo: </td><td><img class="img-responsive" width="300px" src="{{ asset('img/img_user/'~membre.photo) }}"></td>
            	</tr>
            	</table>
            	{% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <h1>Profil</h1>
                <p class="lead">{{ message }}</p>
                {% else %}
                <div class="alert alert-danger"><i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                Vous devez être inscrit-e et/ou connecté-e pour accéder à cet espace <br />
                <b>Connexion</b> - <b>Inscription</b></div>
                {% endif %}
            </div>
        </div>
        <!-- /.container -->
    
{% endblock %}