{% extends 'layout.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block contenu %}

    {% if global.request.get('signalement') == 'succes' and idUser is defined %}

        <div class='alert alert-success' style='text-align:center;'> Signalement correctement effectué. Merci pour votre
            vigilance. Cliquez <strong><a href="{{ url('index_index') }}">ici</a></strong> pour retourner à l'accueil.
        </div>

    {% else %}
        {% if erreur is defined %} {# Si l'utilisateur est passé en force en tapant un id a la main qui ne correpond à rien, ou qu'il a déjà signalé l'utilisateur, on affiche un message d'erreur #}
            {{ erreur | raw }}
        {% endif %}
        {% if idUser is defined %}

            <div class="row">
                <div class="col-xs-6 col-xs-push-3">


                    <h2 class="text-center">Signalement d'un utilisateur</h2>


                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1">
                            <form enctype="multipart/form-data" class="form-horizontal" method="POST">


                                <div class="form-group">
                                    <label for="" class="col-md-3 control-label">
                                        Nom d'utilisateur
                                    </label>
                                    <div class="col-md-7">
                                        {{ form_row(signalement.userProposantService) }} {# On affiche dans un champ texte verrouillé le pseudo de l'utilisateur, cette donnée est purement visuelle (pas d'incidence si l'utilisateur le change en trifouillant le HTML) #}
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label for="" class="col-md-3 control-label">
                                        Votre message
                                    </label>
                                    <div class="col-md-7">
                                        {{ form_row(signalement.signalement) }}
                                    </div>
                                </div>
                                {# Important pour la validation du Token #}
                                {{ form_row(signalement._token) }}

                                <!-- Submit -->
                                <div class="form-group">
                                    <div class="col-xs-7 col-xs-offset-3">
                                        <button type="submit" class="btn btn-primary" value="Effectuer un signalement">
                                            Effectuer un signalement
                                        </button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>


                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}

{% block javascripts %}


{% endblock %}





