{% extends 'layout.html.twig' %}

{# Block de title défini dans base.html.twig #}
{% block title %} Traitement des signalements utilisateurs {% endblock %}
{# Block de Contenu défini dans base.html.twig #}
{% block contenu %}
        
   				{% if global.request.get('traiter') == 'ok' %}

                        <div class="alert alert-success">
                            <p class="text-center"><i class="fa fa-thumbs-up"></i> Félicitations ! Le signalement a bien été traité (sans action).</p>
                        </div>

                    {% endif %}
                    
                 {% if global.request.get('bannir') == 'echec' %}

                        <div class="alert alert-danger">
                            <p class="text-center"><i class="fa fa-thumbs-up"></i> Erreur : Vous ne pouvez pas bannir un utilisateur dont le statut est ADMIN .</p>
                        </div>

                    {% endif %}
                    
                    {% if global.request.get('bannir') == 'ok' %}

                        <div class="alert alert-success">
                            <p class="text-center"><i class="fa fa-thumbs-up"></i> L'utilisateur a été banni , et ses annonces ont été cloturées, ainsi que les demandes le concernant .</p>
                        </div>

                    {% endif %}    
            	{% if is_granted('ROLE_ADMIN') %}
                     <div class="container">
                        <div class="starter-template">
                        	<h1>Bienvenue {{ app.user.pseudo }} sur votre espace Admin</h1>
                        	<h4>Gestion du Signalements d'utilisateurs</h4> 
                        	
                        	<table class="table table-responsive">
                        	<th>Utilisateur signalé</th><th>Message</th><th>Date de soumission de l'alerte</th><th colspan="3" align="center">Actions</th>
                        	{% for signalementUser in traitementUserSignale %}
                        	<tr>
                        		<td>{{ signalementUser.pseudo }}</td><td>{{ signalementUser.message }}</td><td>{{ signalementUser.dateAlerte |date('d/m/Y') }}</td><td><a href="
                        		{{ url('index_profil', 
                        		{idUser: signalementUser.idUserSignale}) 
                        		}}">Voir le profil</a></td><td><a href="{{ url('admin_bannirUser', {idUser : signalementUser.idUserSignale, go : 'admin_traitementSignalementUser'}) }}">Bannir l'utilisateur</a></td><td><a href="{{ url('admin_traiterUser', {idUser : signalementUser.idUserSignale, go : 'admin_traitementSignalementUser'}) }}">Ne rien faire</a> </td>
                        	</tr>
                        	{% endfor %}
                        	
                        	</table>
                        	
                        
                    
                {% else %}
                <div class="alert alert-danger"><i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                Vous devez être adminaccéder à cet espace <br />
                </div>
                {% endif %}
          </div>
            	
            
        </div>
        <!-- /.container -->
    
{% endblock %}

{% block javascripts %}
{% endblock %}