

<!-- sidebarRight -->
<div class="row">
    <div class="col-md-4 sibarRight">
        <div id="sidebar" class="well sidebar-nav">

            
           
                
                
                {% if is_granted('ROLE_ADMIN') %}
                <h5><i class="glyphicon glyphicon-home"></i>
                	<small><b>Administration</b></small>
            	</h5>
                 <ul class="nav nav-pills nav-stacked">
                <li><a href="{{ url('admin_gestion_utilisateurs') }}"> Gérer les utilisateurs</a></li>
                <li><a href="{{ url('admin_traitementSignalementUser') }}"> Gérer les signalements d'utilisateurs</a></li>
                <li><a href="{{ url('admin_traitementSignalementService') }}"> Gérer les signalements des services</a></li>
                <li><a href="{{ url('admin_serviceavalider') }}"> Gérer les annonces à valider.</a></li>
                </ul>
                {% endif %}
                {% if is_granted('ROLE_USER') %}
                <h5><i class="glyphicon glyphicon-home"></i>
                	<small><b>Membre</b></small>
            	</h5>
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="{{ url ('member_ajout_annonce') }}">Déposer une annonce </a></li>
                    <li><a href="{{ url('membre_modif') }}"> Modifier le profil</a></li>
                    <li><a href="{{ url('membre_motdepasse') }}"> Modifier le mot de passe</a></li>
                    <li><a href="{{ url('membre_contact') }}">Assistance : Nous contacter</a></li>
                    <li><a href="{{ url ('deconnexion') }}">Déconnexion </a></li>
                </ul>
                {% else %}
                <h5><i class="glyphicon glyphicon-home"></i>
                	<small><b>Nouveaux utilisateurs</b></small>
            	</h5>
            	<ul class="nav nav-pills nav-stacked">
                    <li><a href="{{ url('index_inscription') }}">Inscription</a></li>
                    <li><a href="{{ url('index_connexion') }}">Connexion</a></li>
                </ul>
                {% endif%}
            </ul>

            
                <ul>
                  
                </ul>
            

        </div>
    </div>
</div>
<!-- Fin sidebarRight -->







