



{% if !IS_AUTHENTICATED_FULLY %}
    <ul>
    <li>{{ app.user.prenom }} {{ app.user.nom }}</li>
<li><a href="{{ url ('member_ajout_annonce') }}">Déposer une annonce </a></li>
<li><a href="{{  url ('index_inscription') }}">Créer un nouveau compte  </a></li>
<li><a href="#">Réseaux sociaux</a></li>
    </ul>




{% else %}
<ul>
    <li><a href="{{ url ('member_ajout_annonce') }}">Déposer une annonce </a></li>
    {#<li><a href="">Parlez-en à vos amis</a></li>#}
    <li><a href="{{  url ('index_inscription') }}">S'inscrire  </a></li>
    <li><a href="{{ url ('index_connexion') }}">Se connecter  </a></li>
    <li><a href="#">Réseaux sociaux</a></li>
</ul>

{% endif%}







